@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap');
@import "tailwindcss";


@theme {
  --font-BigShInTxt: "Big Shoulders Inline", sans-serif; 
  --font-PNBG: "Playwrite NZ Basic Guides", cursive ; 
  --font-k2d:"K2D", sans-serif;
}